<div class=" mt-3 ">
  <div class=" d-flex gap-1  ">
    <div
      class="rounded-sm p-2 g-col-3 "
      style="
        width: 250px;
        height: 120px;
        background-image: linear-gradient(
          to right,
          rgba(107, 214, 252),
          rgba(48, 95, 236)
        );
        border-radius: 20px;
      "
    >
      <span style="font-weight: 500; font-size: 18px">Total Orders</span>
      <div class="d-flex space" style="justify-content: space-between;">
        <img src="..//src/assets/orders.png" width="86.77px" alt="orders" />
        <span class="" style="font-weight: 500; font-size: 50px">4,500</span>
      </div>
    </div>
    <div
      class="rounded-sm p-2 g-col-3 "
      style="
        width: 250px;
        height: 120px;
        background-image: linear-gradient(
          to right,
          rgba(107, 214, 252),
          rgba(48, 95, 236)
        );
        border-radius: 20px;
      "
    >
      <span style="font-weight: 500; font-size: 18px">Total Visitors</span>
      <div class="d-flex space" style="justify-content: space-between;">
        <img src="..//src/assets/products.png" width="86.77px" alt="orders" />
        <span class="" style="font-weight: 500; font-size: 50px">15,750</span>
      </div>
    </div>
    <div
      class="rounded-sm p-2 g-col-3 "
      style="
        width: 250px;
        height: 120px;
        background-image: linear-gradient(
          to right,
          rgba(107, 214, 252),
          rgba(48, 95, 236)
        );
        border-radius: 20px;
      "
    >
      <span style="font-weight: 500; font-size: 18px">Total Products</span>
      <div class="d-flex space" style="justify-content: space-between;">
        <img src="..//src/assets/orders.png" width="86.77px" alt="orders" />
        <span class="" style="font-weight: 500; font-size: 50px">9,500</span>
      </div>
    </div>
    <div
      class="rounded-sm p-2 g-col-3 "
      style="
        width: 250px;
        height: 120px;
        background-image: linear-gradient(
          to right,
          rgba(107, 214, 252),
          rgba(48, 95, 236)
        );
        border-radius: 20px;
      "
    >
      <span style="font-weight: 500; font-size: 18px">Total Revenue</span>
      <div class="d-flex space" style="justify-content: space-between;">
        <img src="..//src/assets/orders.png" width="86.77px" alt="orders" />
        <span class="" style="font-weight: 500; font-size: 50px">$8,500</span>
      </div>
    </div>
  </div>
  <div class="charts">
    <!-- <div class="pie" [chart]="pieChart">
    
        </div>
        <div class="line" [chart]="lineChart">
        </div> -->
  </div>
  <!-- <div>
        <app-addproduct></app-addproduct>
    </div> -->
</div>
