    <div class="p-3 text-white bg-dark" style="width: 280px; height: 92vh; 
    display: flex; flex-direction: column; justify-content: space-between;">
            <!-- <a href="/" class="d-flex align-items-center mb-3 mb-md-0
     me-md-auto text-white text-decoration-none">
      <span class="fs-4">Dashboard</span>
    </a>
    <hr> -->
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a  routerLink="/home" class="nav-link " routerLinkActive="active" aria-current="page">
                    <i class="bi bi-house-door" style="size: 20px;"></i> Home
                </a>
            </li>
            <li>
                <a routerLink="/addproduct" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-database-add"></i> Add Product
                </a>
            </li>
            
            <li>
                <a routerLink="/addadmin" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-database-add"></i> Add Admin
                </a>
            </li>
            <li>
                <a routerLink="/editproduct" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-pencil"></i> Edit Product
                </a>
            </li>
            <li>
                <a routerLink="/deletproduct" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-trash3"></i> Delet Product
                </a>
            </li>
            <li>
                <a routerLink="/vieworders" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-cart3"></i> View Orders
                </a>
            </li>
            <li>
                <a routerLink="/productstock" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-box-seam"></i> Products Stock
                </a>
            </li>
            <li>
                <a routerLink="/messages" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-chat-dots"></i> Messages
                </a>
            </li>  
           
        </ul>
        <hr>
        <li>
            <a routerLink="/expense" routerLinkActive="active" class="nav-link text-white">
                <i class="bi bi-database"></i> Express
            </a>
        </li>
        <hr>
        <ul class="nav nav-pills flex-column">
            <li>
                <a routerLink="/setting" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-gear"></i> Setting
                </a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-box-arrow-in-right"></i> Login
                </a>
            </li>
            
            <li>
                <a routerLink="/logout" routerLinkActive="active" class="nav-link text-white">
                    <i class="bi bi-box-arrow-right"></i> LogOut
                </a>
            </li>
        </ul>
    </div>
    